@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.ttf) format('truetype');
  }
  
@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}



.container {
    display: flex;
    top: 0;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family:'Helvetica';
    overflow: hidden;
    z-index: 0;

}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(177.28deg, #EBFDFE 2.27%, #F8F5FF 49.51%, #F6FCE7 97.74%);
    height: 100%;
    z-index: 1;
}

.backgroundMobile {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

.Header {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    padding: 0px 32px;
    z-index: 1;
}

.HeaderDiv {
    display: flex;
    align-items: center;
    text-align: center;
}

.headerLine {
    margin: 28px 16px 0px 0px;
}

.headerText {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #18181B;
    margin: 28px 16px 0px 0px;
}


.BackToHomeText{
    display: flex;  
    align-items: center;
    text-align: center;
    margin: 28px 16px 0px 0px;
    cursor: pointer;
    border: none;
}

.ConnectButton {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 20px;
    min-width: 133px;
    min-height: 40px;
    background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
    box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
    border-radius: 12px;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
    border: none;
}

.ConnectedButton {
    display: flex;
    position: relative;
    top: 20px;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    justify-content: center;
    min-width: 168px;
    min-height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 4px 16px 4px 4px;
    cursor: pointer;
}

.Blockies {
    margin: 6px;
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, rgba(188, 235, 0, 0.2) 15.57%, rgba(0, 234, 234, 0.2) 84.88%);
    border-radius: 7px;
}

.ActionFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    max-width: calc(100% - 124px);
    max-height: 348px;   
}

.ActionFrameHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    flex: none;
    align-self: stretch;
}

.ActionHeaderTitle {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #18181B;
}

.ActionHeaderSubTitle{
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.64);
}

.ActionFrameBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: relative;
    width: 100%;
    height: 348px;
    border-radius: 16px;
}

.ActionFrameContractDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 70px;
    flex: none;
    flex-grow: 1;
}

.ActionLabelTitle {
    height: 22px;
    margin: 8px 0px;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    font-feature-settings: 'ss04' on;
    color: #000000;
}

.ActionLabelTitleNoProvider {
    height: 22px;
    margin: 8px 0px;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    font-feature-settings: 'ss04' on;
    color: rgba(0, 0, 0, 0.4);
}

.ContractAddrInput {
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 0px 16px;
    font-family: 'Helvetica', sans-serif;
}

.AlertNotOwner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    width: 100%;
    height: 56px;
    background: rgba(79, 106, 229, 0.04);
    border: 1px solid rgba(79, 106, 229, 0.4);
    border-radius: 12px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.AlertNotOwnerRoyalties {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 100%;
    height: 56px;
    background: rgba(79, 106, 229, 0.04);
    border: 1px solid rgba(79, 106, 229, 0.4);
    border-radius: 12px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.AlertNotOwnerTextRoyalties {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #4D66EB;
    flex: none;
    flex-grow: 1;
    padding: 0px 6px;
}

.AlertInvalid {
    width: 100%;
    height: 18px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FF4949;
    margin: 10px 0px;
}

.AlertInvalidAddress {
    width: 100%;
    height: 18px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FF4949;
    margin: 10px 0px;
}

.AlertCantVerifyCode {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #4D66EB;
    flex: none;
    flex-grow: 1;
}

.AlertNotOwnerText {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #4D66EB;
    flex: none;
    flex-grow: 1;
}

.closeButtonDiv {
    position: absolute;
    right: -34px;
    top: -30px;
}

.closeButton {
    cursor: pointer;
}


.RoyaltyDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    max-width: 100%;
    height: 56px;
    flex: none;
    align-self: stretch;
    flex-grow: 1;
    gap: 8px;
}

.RoyaltyAddressDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    width: 100%; 
}

.RoyaltyAddrLabel {
    min-width: 100%;
    height: 22px;
    margin: 8px 0px;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    font-feature-settings: 'ss04' on;
    color: #000000;
}

.RoyaltyAddrLabelNotValid {
    min-width: 100%;
    height: 22px;
    margin: 8px 0px;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    font-feature-settings: 'ss04' on;
    color: rgba(0, 0, 0, 0.4);
}

/* height: 22px;
font-family:'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
font-feature-settings: 'ss04' on;
color: rgba(0, 0, 0, 0.4);
flex: none;
flex-grow: 0; */

.RoyaltyAddrInput {
    width: 100%;
    min-height: 40px;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 10px 20px;
    font-family: 'Helvetica', sans-serif;
}

.RoyaltyCutDiv {
    display: flex  ;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}

.RoyaltyPercentLabel {
    width: 133px;
    height: 22px;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    font-feature-settings: 'ss04' on;
    color: rgba(0, 0, 0, 0.4);
}

.RoyaltyPercentInput {
    width: 100%;
    min-height: 40px;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 10px 20px;
    font-family: 'Helvetica', sans-serif;
}



.SetRoyaltiesButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
    box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
    border-radius: 12px;
    cursor: pointer;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    border: none;
}

.SetRoyaltiesButton:disabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    width: 100%;
    height: 40px;
    /* Neutrals/Black/Transparent/Black 5 */
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    cursor: not-allowed;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;    border: none;
}

.dropdown {
    position: absolute;
    width: 240px;
    height: 200px;
    right: 32px;
    top: 70px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    filter: drop-shadow(0px 10px 36px rgba(136, 120, 172, 0.14)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.24));
    border-radius: 12px;
    z-index: 4;
}

.dropdownHeader {
    display: flex;
    max-height: 70px;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.dropdownBlockie {
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, rgba(188, 235, 0, 0.2) 15.57%, rgba(0, 234, 234, 0.2) 84.88%);
    border-radius: 8px;
}

.dropdownTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.dropdownAddress {
    font-family:'Helvetica';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    padding: 10px;
}

.dropdownBody {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
}

.dropdownBodyFirst {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.dropdownBodyCtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    gap: 0px;
    width: 100%;
    height: 40px;
}

.ethBalance {
    font-family:'Helvetica';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    padding: 8px;
}

.logoutButton {
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'ss02' on, 'ss03' on, 'ss04' on;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    width: 100%;
}

/*#region Modals*/
.Backdrop {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
    z-index: 1;
}

.errorBody {
    position: absolute;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 16px;
    position: absolute;
    height: calc(100vh - 55vh);
    width: calc(100vw - 65vw);
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
    border-radius: 12px;
    z-index: 9;
    background: linear-gradient(177.28deg, #EBFDFE 2.27%, #F8F5FF 49.51%, #F6FCE7 97.74%);
}


.errorText {
    max-width: 75%;
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: black;
    padding: 10px 0px;
}

.errorButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    width: 150px;
    height: 40px;
    background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
    box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: none;
}

.TxSuccessBody {
    position: absolute;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 16px;
    position: absolute;
    height: calc(100vh - 55vh);
    width: calc(100vw - 65vw);
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
    border-radius: 12px;
    z-index: 9;
    background: linear-gradient(177.28deg, #EBFDFE 2.27%, #F8F5FF 49.51%, #F6FCE7 97.74%);
}

.TxSuccessTitle {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;

    /* identical to box height, or 120% */
    text-align: center;
}

.TxSuccessText {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;    
}

.AlertNotOwnerText {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #4D66EB;
    flex: none;
    flex-grow: 1;
}

.TxSuccessButton {
    display: flex;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-repeat: round;
    border-radius: 10px 10px 0px 0px;
    border-image-source: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 71px;
    height: 40px;
    cursor: pointer;
}

.NetworkErrorBody {
    position: absolute;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 16px;
    position: absolute;
    height: calc(100vh - 40%);
    width: calc(100vw - 40%);
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
    border-radius: 12px;
    z-index: 9;
    background: linear-gradient(177.28deg, #EBFDFE 2.27%, #F8F5FF 49.51%, #F6FCE7 97.74%);
}

.NetworkErrorText {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: black;
    padding: 10px 0px;
    width: 50%;
}

/*#endregion*/

.Spinner {
    /* animation: Spin infinite 20s linear; */
    height: 25px;
    width: 25px;
    animation: spin 2s infinite linear;
}

.ContractSpinner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:10px;
    top: 44px;
    height: 20px;
    width: 20px;
    animation: spin 1s infinite ;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 640px)  {
    .container {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        min-width: 100vw;
        font-family:'Helvetica';
        overflow-x: hidden;
    }

    .background {
        display: none;

    }

    .backgroundMobile {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.64);
        z-index: 1;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
    }

    .Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        position: fixed;
        max-width: 100%;
        z-index: 1;
    }

    .HeaderDiv {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .headerText {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #18181B;
        margin: 28px 8px 0px 0px;
    }
    
    
    .headerLine {
        margin: 28px 8px 0px 0px;
    }
    
    
    .BackToHomeText{
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0px 12px;
        margin: 28px 4px 0px 0px;
        text-decoration: underline;
        font-size: 14px;
        cursor: pointer;
        border: none;
    }
    
    .logo {
        max-width: 100px;
        max-height: 50px;
    }

    .logoLine {
        width: 24px;
        height: 0px;

        /* Neutrals/Black/Transparent/Black 10 */
        border: 1px solid rgba(0, 0, 0, 0.1);
        transform: rotate(90deg);

        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .headerText {
        font-size: 14px;
    }

    .ConnectButton {
        display: flex;
        top: 16px;
        font-family:'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: #000000;
        cursor: pointer;
    }
    
    .ConnectedButton {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0px;
        top: 16px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        font-family:'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        min-width: 96px;
        min-height: 40px;
    }

    
    .ActionFrame {
        padding: 0px 10px;
        gap: 24px;
        max-width: 100%;
        max-height: 100vh;
    }

    .ActionFrameHeader {
        padding: 0px;
        width: 100%;
    }

    .ActionHeaderTitle {
        font-size: 24px;
    }
    
    .ActionHeaderSubTitle{
        font-size: 14px;
        line-height: 6px;
    }
    
    .ActionFrameBody {
        max-width: 100%;
        border-radius: 16px;
    }
    
    .ActionFrameContractDiv {
        width: 100%;
        max-height: 60px;

    }

    .ContractAddrInput {
        box-sizing: border-box;
        min-width: 100%;
        min-height: 40px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 0px 16px;
        font-family: 'Helvetica', sans-serif;
    }
    
    .AlertNotOwner {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 10px;
        width: 100%;
        height: 56px;
        background: rgba(79, 106, 229, 0.04);
        border: 1px solid rgba(79, 106, 229, 0.4);
        border-radius: 12px;
        flex: none;
        margin: 0px 0px;
    }
    
    .AlertNotOwnerText {
        font-family:'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #4D66EB;
        flex: none;
        flex-grow: 1;
    }
    
    .RoyaltyDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 0px;
        width: 100%;
        height: 116px;
    }
    
    .RoyaltyAddressDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;    
        padding: 0px 0px;
        width: 100%;
    }
    
    .RoyaltyAddrLabel {
        min-width: 100%;
        height: 25px;
        font-family:'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
    }
    
    .RoyaltyAddrInput {
        min-width: 100%;
        min-height: 40px;
        background: rgba(0, 0, 0, 0.02);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        padding: 0px 20px;
        font-family: 'Helvetica', sans-serif;
    }
    .RoyaltyCutDiv {
        display: flex  ;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        padding: 0px 0px;
    }
    
    .RoyaltyPercentLabel {
        width: 100%;
        height: 22px;
        font-family:'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        font-feature-settings: 'ss04' on;
        color: rgba(0, 0, 0, 0.4);
    }
    
    .RoyaltyPercentInput {
        min-width: 100%;
        min-height: 40px;
        background: rgba(0, 0, 0, 0.02);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        padding: 0px 20px;
        font-family: 'Helvetica', sans-serif;
    }
    

    .SetRoyaltiesButton {
        text-align: center;
        margin: 0px 0px;
        padding: 10px 16px;
        width: 100%;
        height: 40px;
    }

    .SetRoyaltiesButton:disabled {
        cursor: not-allowed;
    }
    

    .error {
        position: absolute;
        top: 112px;
        right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 16px;
        width: 360px;
        height: 56px;
        background: rgba(79, 106, 229, 0.04);
        border: 1px solid rgba(79, 106, 229, 0.4);
        border-radius: 12px;
        font-family:'Helvetica';
        font-style: normal;
        font-weight: 700;
    }

    .AlertNotOwnerText {
        font-family:'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #4D66EB;
        flex: none;
        flex-grow: 1;
    }

    .AlertNotOwnerRoyalties {
        padding: 10px;
        gap: 1px;
    }

    .AlertNotOwnerTextRoyalties {

        font-size: 12px;
        color: #4D66EB;
    }

/*#region Modals */
    .Backdrop {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.64);
        z-index: 1;
    }

    .TxSuccessBody {
        position: fixed;
        display: flex;
        flex-direction: column;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        padding: 16px;
        position: absolute;
        height: calc(100vh - 50vh);
        width: calc(100% - 10%);
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        border-radius: 12px;
        z-index: 9;
        background: linear-gradient(177.28deg, #EBFDFE 2.27%, #F8F5FF 49.51%, #F6FCE7 97.74%);
    }

    .TxSuccessTitle {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 34px;
    
        /* identical to box height, or 120% */
        text-align: center;
    }
    
    .TxSuccessText {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;    
    }

    .dropdown {
        position: absolute;
        width: 240px;
        height: 200px;
        right: 10px;
        top: 60px;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #FFFFFF;
        filter: drop-shadow(0px 10px 36px rgba(136, 120, 172, 0.14)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.24));
        border-radius: 12px;
        z-index: 4;
    }

    .NetworkErrorBody {
        height: calc(100vh - 30%);
        width: calc(100vw - 20%);
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        border-radius: 12px;
        z-index: 9;
        background: linear-gradient(177.28deg, #EBFDFE 2.27%, #F8F5FF 49.51%, #F6FCE7 97.74%);
    }
    
    .NetworkErrorText {
        font-family:'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: black;
        padding: 10px 0px;
        width: 100%;
    }

/*#endregion */


    .Spinner {
        /* animation: Spin infinite 20s linear; */
        height: 25px;
        width: 25px;
        animation: spin 2s infinite linear;
    }

}